body {
   margin:0;
}	
#cp{
	background-color: black;
	margin-bottom: 3%;
	position: relative;
}



#desc{
	font-family: 'Encode Sans Expanded', sans-serif;	
	background-color: black;
	color: white;
	margin-right: 4%;
	margin-left: 4%;
	margin-bottom: 5%;
	margin-top:4%;
	padding: 7%;
	border-radius:5px;
}
.text{
	font-size: 0.8em;
	text-align:justify;
	line-height: 1.4;


}
#o_projeto{
	font-size: 1em;
	font-weight:normal;
	text-align:center;
	padding:2%;
	margin: 0;
}
.bot{
	background-color: black;
	display: block;
	text-decoration: none;
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 10%;
	border-radius:5px;	
}
.com{
	color: white;
	padding:4%;
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	text-align:center;
	font-family: 'Encode Sans Expanded', sans-serif;
}


.dropdown {
	position: absolute;
    display: inline-block;
    top: 23%;
    left:2%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Encode Sans Expanded', sans-serif;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    //background-color: #3e8e41;
}


#equi{
	font-family: 'Encode Sans Expanded', sans-serif;	
	background-color: black;
	color: white;
	margin-right: 4%;
	margin-left: 4%;
	margin-bottom: 2%;
	padding: 3%;
	border-radius:5px;
	font-size: 0.75em;
	text-align:left;
}

.voltar{

	background-color: black;
	border-radius: 10px;
	margin: 0 30% 10% 30%;
	padding: 1%;	

}

	.voltar a{
		display: block;
		text-decoration: none;
		color: white;
		margin:0;
		font-size: 0.9em;
		font-weight: normal;
		text-align: center;
		font-family: 'Encode Sans Expanded', sans-serif;
	}

	.voltar a:visited{
		color: white;
	}


